@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
	--page-width: 820px;
	--spacing: 1rem;
	--spacing-xs: calc(var(--spacing) * 0.25);
	--spacing-sm: calc(var(--spacing) * 0.5);
	--spacing-md: calc(var(--spacing) * 0.75);
	--spacing-lg: calc(var(--spacing) * 1.5);
	--spacing-xl: calc(var(--spacing) * 2);
	--content-space: var(--spacing);
	--page-space: var(--content-space);
  }
  
  :root {
	--gb-100: #e0f8cf;
	--gb-200: #86c06c;
	--gb-300: #306850;
	--gb-400: #102000;
	--gb-gray-100: #f8f8f8;
	--gb-gray-200: #a8a8a8;
	--gb-gray-300: #585858;
	--gb-gray-400: #080808;
  }
  
  :root {
	--pulp-100: #f2e5d7;
	/* white */
	--pulp-200: #ffc40c;
	/* yellow */
	--pulp-300: #c91a09;
	/* red */
	--pulp-400: #5a372d;
	/* brown */
	--pulp-500: #1a1a1a;
	/* black */
	--pulp-border: 3px solid var(--pulp-500);
	--pulp-border-rad: var(--spacing-sm);
	--pulp-size: 220px;
	--mat-bg-primary: #f3edf7;
	--mat-bg: #fff;
	--mat-color: #1d1b20;
	--mat-act: #e8def8;
  }
  
  :root {
	--sky-50: #dff4fd;
	--sky-100: #b5e4f9;
	--sky-200: #8bd4f5;
	--sky-300: #62c5f1;
	--sky-400: #38b5ed;
	--sky-500: #0ea5e9;
	--sky-600: #0c87bf;
	--sky-700: #096a95;
	--sky-800: #074c6b;
	--sky-900: #042e41;
	--gray-50: #e7eaee;
	--gray-100: #cdd2da;
	--gray-200: #b3bbc6;
	--gray-300: #98a3b3;
	--gray-400: #7e8c9f;
	--gray-500: #64748b;
	--gray-600: #515e71;
	--gray-700: #3f4957;
	--gray-800: #2c333d;
	--gray-900: #191d23;
	--font-color: var(--gray-700);
	--background-color: #ffffff;
  }
  
  body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
  }
  
  .main {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	position: relative;
	overflow: hidden;
  }
  
  .main.main-scroll {
	overflow-x: hidden;
	overflow-y: auto;
  }
  
  .layer {
	--oy: auto;
	--pc: center;
	--ad: 1.5s;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: var(--oy);
  }
  .layer.fix {
	--oy: hidden;
  }
  .layer.center {
	display: grid;
	place-content: var(--pc);
  }
  .layer.nwp {
	-webkit-animation: var(--ad) cubic-bezier(0.25, 1, 0.3, 1) layerCircleIn both;
			animation: var(--ad) cubic-bezier(0.25, 1, 0.3, 1) layerCircleIn both;
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
  }
  
  .layer {
	-webkit-transition: opacity 0.3s ease 0.1s, -webkit-transform var(--layer-dur, 0.5s) ease-in-out var(--layer-del, 0s);
	transition: opacity 0.3s ease 0.1s, -webkit-transform var(--layer-dur, 0.5s) ease-in-out var(--layer-del, 0s);
	transition: transform var(--layer-dur, 0.5s) ease-in-out var(--layer-del, 0s), opacity 0.3s ease 0.1s;
	transition: transform var(--layer-dur, 0.5s) ease-in-out var(--layer-del, 0s), opacity 0.3s ease 0.1s, -webkit-transform var(--layer-dur, 0.5s) ease-in-out var(--layer-del, 0s);
  }
  .layer.top {
	--layer-del: 0.1s;
	-webkit-transform: translate(0, -100%);
		-ms-transform: translate(0, -100%);
			transform: translate(0, -100%);
	opacity: 0;
  }
  .layer.bottom {
	--layer-del: 0.1s;
	-webkit-transform: translate(0, 100%);
		-ms-transform: translate(0, 100%);
			transform: translate(0, 100%);
	opacity: 0;
  }
  .layer.left {
	--layer-del: 0.1s;
	-webkit-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
			transform: translate(-100%, 0);
	opacity: 0;
  }
  .layer.right {
	--layer-del: 0.1s;
	-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
			transform: translate(100%, 0);
	opacity: 0;
  }
  .layer.active {
	-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
			transform: translate(0, 0);
	opacity: 1;
  }
  
  @-webkit-keyframes layerCircleIn {
	from {
	  -webkit-clip-path: circle(0%);
			  clip-path: circle(0%);
	}
	to {
	  -webkit-clip-path: circle(125%);
			  clip-path: circle(125%);
	}
  }
  
  @keyframes layerCircleIn {
	from {
	  -webkit-clip-path: circle(0%);
			  clip-path: circle(0%);
	}
	to {
	  -webkit-clip-path: circle(125%);
			  clip-path: circle(125%);
	}
  }
  .content {
	width: var(--page-width);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: var(--content-space);
  }
  svg.nwp-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	font-size: var(--fs, 24px);
  }
  